# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
env/
.venv/
venv/
ENV/
env.bak/
*.env

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ollama models (if any are downloaded here)
*.bin

# Misc
*.swp